@function str-replace($string, $search, $replace: '') {
    $index: str-index($string, $search);

    @if $index {
        @return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
    }

    @return $string;
}

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
    $src: null;

    $extmods: (eot: '?', svg: '#'+ str-replace($name, ' ', '_'));

    $formats: (otf: 'opentype', ttf: 'truetype');

    @each $ext in $exts {
        $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
        $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
        $src: append($src, url(quote($path + '.' + $extmod)) format(quote($format)), comma);
    }

    @font-face {
        font-family: quote($name);
        font-weight: $weight;
        font-style: $style;
        src: $src;
        font-display: swap;
    }
}


@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        @content;
    }
    &::-moz-placeholder {
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@function svg($svg, $fill: null) {
    $svg: if($fill, str-replace($svg, "<svg", "<svg fill='#{$fill}'"), $svg);
    /* 
    $svg: str-replace($svg, "<svg", "<svg xmlns='http://www.w3.org/2000/svg' ");
    */
    $svg: str-replace($svg, "<", "%3C");
    $svg: str-replace($svg, ">", "%3E");
    $svg: str-replace($svg, "\"", "'");
    $svg: str-replace($svg, "#", "%23");
    $svg: str-replace($svg, "&", "%26");

    @return url("data:image/svg+xml,#{$svg}");
}