// system
@import './system/mixins';
@import './system/vars';
@import './system/fonts';
@import './system/libs';
@import './system/default';
@import './system/helpers';

// base
@import './base/**.scss';

// components
@import './components/**.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
