// system
@import './system/mixins';
@import './system/vars';
@import './system/fonts';
@import './system/libs';
@import './system/default';
@import './system/helpers';

// base
@import './base/**.scss';

// components
@import './components/**.scss';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 100%;
    width: 1320px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    text-align: center;

    @media all and (max-width: 960px) {
        display: none;
    }
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 60px;

    @media all and (max-width: 960px) {
        display: none;
    }
}

.logo {
    background-image: url('../img/logo/webpack-logo.png');
    background-repeat: no-repeat;
    background-position: 50%;
    width: 400px;
    height: 400px;
    background-size: contain;
    margin-left: auto;
    margin-right: auto;

    @media all and (max-width: 960px) {
        display: none;
    }
}

img {
    margin: 0 auto;
}
